<p id="notice"><%= notice %></p>
  <h1>To-Do List</h1>


<%= form_tag("/homes", method: "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search) %>
  <%= submit_tag("Search") %>
<% end %>

    <% if session[:user_id] %>
      <h2> Welcome <%=  @current_user.first_name %> </h2>
      <% @list.each do |l| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"> <%= l.name %></h5>
            <p class="card-text"> <%= l.description %></p>
<!--             <a rel="nofollow" data-method="edit" href="/lists/<%= l.id %>"> Edit <
 -->            <%= link_to 'edit', edit_list_path(l.id) %>
            <a rel="nofollow" data-method="delete" href="/lists/<%= l.id %>">Remove</a>

          </div>
        </div>
      <% end %>
      <%= link_to 'New List', new_list_path, :remote => true, :class => "new-list" %>

    <% end %>
<br>
    <% if !session[:user_id]%>
      <a href="/login"> Log In </a>
      <a href="/users/new"> Sign Up </a>
    <% end %>

<div id="content"></div>

